
<div class="container alinear">
    <div class="mt-3 mr-3">
      <form>
          <div class="form-group">
            <label *ngIf="showButtonAdd=='Si'" class="color-upeu-letras mb-3" style="font-size:20px;">Ingresar Registro</label>
            <label *ngIf="showButtonsUpdate=='Si'" class="color-upeu-letras mb-3" style="font-size:20px;">Actualizar Registro</label> <br>
           
            <input hidden [(ngModel)]="evaluadorModel.idevaluador" name="idevaluador" class="form-control">
            <label for="exampleInputEmail1">N° Persona</label>
            <input id="id_persona" [(ngModel)]="evaluadorModel.id_persona" name="id_persona" class="form-control"  placeholder="asigne a una persona">
            <label for="exampleInputEmail1">N° Proyecto</label>
            <input id="id_proyecto" [(ngModel)]="evaluadorModel.id_proyecto" name="id_proyecto" class="form-control"  placeholder="asigne un n° proyecto">
            <label for="exampleInputEmail1">Tipo </label>
            <input id="tipo" [(ngModel)]="evaluadorModel.tipo" name="tipo" class="form-control"  placeholder="tipo del evaluador">
            
            
            <small id="emailHelp" class="form-text text-muted">Ejemplo: Gestión de TI.</small>
          </div>
          <div style="display: flex">
            <button *ngIf="showButtonAdd=='Si'" id="create" (click)="create()" type="submit" class="btn color-add mr-2">Agregar</button>
            <button *ngIf="showButtonsUpdate=='Si'" id="update" (click)="update()" type="submit" class="btn color-up mr-2">Actualizar</button>
            <button *ngIf="showButtonsUpdate=='Si'" id="cancelar" (click)="cancelar()" type="submit" class="btn color-cancel">Cancelar</button>
          </div>
          <div>
            <!--<p *ngIf="mensaje=='Si'" class="mt-4" style="font-size: 15px;">**Actualice la Página Si **</p>-->
          </div>
      </form>
    </div>
  
    <table class="table tab mt-3">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID_PERSONA</th>
          <th scope="col">ID_PROYECTO</th>
          <th scope="col">TIPO</th>
          <th scope="col">ESTADO</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evaluador of evaluadores; let i = index" >
          <td> {{i+1}} </td>
          <td hidden > {{evaluador.IDEVALUADOR}} </td>
          <td> {{evaluador.NOMBRE}} </td>
          <td> {{evaluador.ID_PERSONA}} </td>
          <td> {{evaluador.ID_PROYECTO}} </td>
          <td> {{evaluador.ESTADO}} </td>
          <td>
              <button class="btn" (click)="cargarEvaluador(evaluador.IDEVALUADOR)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
          </td>
          <td>
              <button class="btn" (click)="delEvaluador(evaluador.IDEVALUADOR)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  
  </div>
  
  
  
  <div>
    <br>
    <br>
  </div>
  