<div class="container alinear">
    <div class="mt-3 mr-3">
      <form>
          <div class="form-group">
            <label *ngIf="showButtonAdd=='Si'" class="color-upeu-letras mb-3" style="font-size:20px;">Ingresar Registro</label>
            <label *ngIf="showButtonsUpdate=='Si'" class="color-upeu-letras mb-3" style="font-size:20px;">Actualizar Registro</label> <br>
            
            <input hidden [(ngModel)]="proyectoModel.id_proyecto" name="id_proyecto" class="form-control">
           
            <label for="exampleInputEmail1">N° Semestre: </label>
            <input id="id_semestre" [(ngModel)]="proyectoModel.id_semestre" name="id_semestre" class="form-control"  placeholder=" elija Semestre">
            <label for="exampleInputEmail1">Ciclo: </label>
            <input id="ciclo" [(ngModel)]="proyectoModel.ciclo" name="ciclo" class="form-control"  placeholder="escoger un ciclo">
            <label for="exampleInputEmail1">Grupos: </label>
            <input id="grupos" [(ngModel)]="proyectoModel.grupos" name="grupos" class="form-control"  placeholder="escoger un grupo">
            <label for="exampleInputEmail1">N° Persona</label>
        <input id="id_persona" [(ngModel)]="proyectoModel.id_persona" name="id_persona" class="form-control"  placeholder="elija una persona">
           

            <small id="emailHelp" class="form-text text-muted">Ejemplo: example.ciclo3.</small>
          </div>
          <div style="display: flex">
            <button *ngIf="showButtonAdd=='Si'" id="create" (click)="create()" type="submit" class="btn color-add mr-2">Agregar</button>
            <button *ngIf="showButtonsUpdate=='Si'" id="update" (click)="update()" type="submit" class="btn color-up mr-2">Actualizar</button>
            <button *ngIf="showButtonsUpdate=='Si'" id="cancelar" (click)="cancelar()" type="submit" class="btn color-cancel">Cancelar</button>
          </div>
          <div>
            <!--<p *ngIf="mensaje=='Si'" class="mt-4" style="font-size: 15px;">**Actualice la Página Si **</p>-->
          </div>
      </form>
    </div>
  
    <table class="table tab mt-3">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID_SEMESTRE</th>
          <th scope="col">CICLO</th>
          <th scope="col">GRUPOS</th>
          <th scope="col">ID_PERSONA</th>
          <th scope="col">ESTADO</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proyecto of proyectos" >
          <td> {{proyecto.ID_PROYECTO}} </td>
          <td> {{proyecto.ID_SEMESTRE}} </td>
          <td> {{proyecto.CICLO}} </td>
          <td> {{proyecto.GRUPOS}} </td>
          <td> {{proyecto.ID_PERSONA}} </td>
          <td> {{proyecto.ESTADO}} </td>
          <td>
              <button class="btn" (click)="cargarProyecto(proyecto.ID_PROYECTO)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
          </td>
          <td>
              <button class="btn" (click)="delProyecto(proyecto.ID_PROYECTO)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  
  </div>
  
  
  
  <div>
    <br>
    <br>
  </div>
  
