<body class="content-inner">
    <div class="container-fluid cont">
      <div class="card mt-3 mr-3 cardy" style="width: 18rem;">
        <svg width="6em" height="6em" viewBox="0 0 16 16" class="bi bi-gear-fill card-img-top pt-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
        </svg>
          <div class="card-body text-center">
            <h5 class="card-title mt-2">Configuración del Proceso De Evaluación</h5>
            <a id="moduloconfig" [routerLink]="['/posts']" class="btn color-upeu mt-4">Comenzar</a>
          </div>
      </div>
      <div class="card mt-3 ml-3 mr-3 cardy" style="width: 18rem;">
        <svg width="6em" height="6em" viewBox="0 0 16 16" class="bi bi-journal-bookmark-fill card-img-top pt-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
          <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
          <path fill-rule="evenodd" d="M6 1h6v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8V1z"/>
        </svg>
          <div class="card-body text-center">
            <h5 class="card-title mt-2">Planificación del Proceso De Evaluación</h5>
            <a class="btn color-upeu mt-4">Comenzar</a>
          </div>
      </div>
      <div class="card mt-3 ml-3 cardy" style="width: 18rem;">
        <svg width="6em" height="6em" viewBox="0 0 16 16" class="bi bi-layers-fill card-img-top pt-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4z"/>
          <path fill-rule="evenodd" d="M2.125 8.567l-1.86.992a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882l-1.86-.992-5.17 2.756a1.5 1.5 0 0 1-1.41 0l-5.17-2.756z"/>
        </svg>
          <div class="card-body text-center">
            <h5 class="card-title mt-2">Ejecución del Proceso De Evaluación</h5>
            <a class="btn color-upeu mt-4">Comenzar</a>
          </div>
      </div>
      <div class="card mt-3 mr-3 cardy" style="width: 18rem;">
        <svg width="6em" height="6em" viewBox="0 0 16 16" class="bi bi-graph-up card-img-top pt-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"/>
        </svg>
          <div class="card-body text-center">
            <h5 class="card-title mt-2 ">Informes del Proceso De Evaluación</h5>
            <a class="btn color-upeu mt-4">Comenzar</a>
          </div>
      </div>
      <div class="card mt-3 ml-3 cardy" style="width: 18rem;">
        <svg width="6em" height="6em" viewBox="0 0 16 16" class="bi bi-key-fill card-img-top pt-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </svg>
          <div class="card-body text-center">
            <h5 class="card-title mt-2">Gestión de Usuarios y Privilegios</h5>
            <a class="btn color-upeu mt-4">Ingresar</a>
          </div>
      </div>
    </div>
  </body>
  