<div class="container">
    <div class="form-row mt-3">
        <div class="form-group col-md-3">
          <label for="inputState">Campus</label>
          <select (change)="traerFacultad($event.target.value)" id="inputState" class="form-control">
            <option selected>Elegir...</option>
            <option  *ngFor="let cs of campus">{{cs.NOMBRE}}</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="inputState">Facultad</label>
          <select (change)="traerEscuela($event.target.value)" id="inputState" class="form-control">
            <option selected>Elegir...</option>
            <option *ngFor="let fc of facultades" [value]="fc.ID"> {{fc.FACULTADES}} </option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="inputState">E.P.</label>
          <select (change)="listarPlanes($event.target.value)" id="inputState" class="form-control">
            <option selected>Elegir...</option>
            <option *ngFor="let esc of escuelas" [value]="esc.ID"> {{esc.ESCUELA}} </option>
          </select>
        </div>
        
            <div class="form-group col-md-3">
            <label for="inputState">Planes Académicos</label>
            <select (change)="traerCurso($event.target.value)"  id="inputState" class="form-control" required>
              <option >Elegir...</option>
              <option *ngFor="let pl of planes" [value]="pl.IDPLAN">{{pl.NOMBRE}}</option>
            </select>
      
            
    </div>
    <div  *ngIf="elgranshow=='Si'" class="form-row">
        <table class="table tab mt-3">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Curso</th>
                <th scope="col">Horas</th>
                <th scope="col">Ciclo</th>
                <th scope="col">Estado</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of curso; let i = index" >
                <td> {{i+1}} </td>
                <td hidden> {{x.ID_CURSO_PLAN}} </td>
                <td hidden> {{x.ID_CURSO}} </td>
                <td> {{x.NOMBRE}} </td>
                <td> {{x.HORAS}} </td>
                <td> {{x.CICLO}} </td>
                <td> {{x.ESTADO}} </td>
                <td>  
                    <button class="btn">
                        <i class="fa fa-pencil"   (click)="editidcurso(x.ID_CURSO)"  (click)="conseguircp(x.ID_CURSO_PLAN)" aria-hidden="true"></i>
                    </button>
                </td>
                <td>
                    <button class="btn">
                        <i class="fa fa-trash" (click)="delPlan(x.ID_CURSO_PLAN)" cli aria-hidden="true"></i>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    <div   *ngIf="elgranshow=='Si'" class="form-row mb-7">
        <form>
            <div class="form-group">
              <label *ngIf="showButtonAdd=='Si'" c lass="color-upeu-letras mb-3" style="font-size:20px;">Ingresar Registro</label>
              <label *ngIf="showButtonsUpdate=='Si'" class="color-upeu-letras mb-3" style="font-size:20px;">Actualizar Registro</label> <br>
              <div class="container" style="display: flex;">
                <section class="col-md-7" *ngIf="showButtonAdd=='Si'">
                    <label for="inputState">Cursos</label>
                    <select (change)="obteneridcurso($event.target.value)" id="inputState" class="form-control">
                      <option selected>Elegir...</option>
                      <option *ngFor="let c of receptor" [value]="c.ID_CURSO">{{c.NOMBRE}}</option>
                    </select>
                </section>
                <section class="col-6 col-md-4 themed-grid-col">
                  <label for="exampleInputEmail1">Horas</label>
                  <input [(ngModel)]="cursoPlanModel.horas" name="horas" class="form-control"  type="number" placeholder="#">
                </section>
                <section class="col-6 col-md-4 themed-grid-col">
                  <label for="exampleInputEmail1">Ciclos</label>
                  <input [(ngModel)]="cursoPlanModel.ciclo" name="ciclo" class="form-control" type="text"  placeholder="#">
                </section>
              </div>
            </div>
            <div style="display: flex" class="ml-4 mt-2">
                <button *ngIf="showButtonAdd=='Si'" id="create" (click)="create()" type="submit" class="btn color-add mr-2">Agregar</button>
                <button *ngIf="showButtonsUpdate=='Si'" id="update" (click)="update()" type="submit" class="btn color-up mr-2">Actualizar</button>
                <button *ngIf="showButtonsUpdate=='Si'" id="cancelar" (click)="cancelarup()" type="submit" class="btn color-cancel">Cancelar</button>
            </div>
          </form>
    </div>
</div>